# Suricata classification.config
config classification: misc-activity,Misc activity,3
config classification: bad-unknown,Potentially Bad Traffic,2
config classification: attempted-recon,Attempted Information Leak,2
config classification: successful-recon-limited,Information Leak,2
config classification: policy-violation,Potential Corporate Privacy Violation,1
